* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding-right: 50px;
    margin-top: -70px;
}

.text img {
   width: 300px;
}

.text p {
    font-size: 1.7rem;
    width: 70%;
    margin-left: 30px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 12px;
}

.form .email, .form .password {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    font-size: 1.1rem;
}

.form .login {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    background-color: #1877f2;
    font-size: 1.1rem;
    text-align: center;
    color:#fff;
    font-weight: bold;
}

.form a {
    color: #1877f2;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
}

.form hr {
    border: 1px solid #dddfe2;
}

.form .create-account {
    padding: 15px;
    border: 1px solid #dddfe2;
    border-radius: 7px;
    background-color: #42b72a;
    font-size: 1.1rem;
    text-align: center;
    color:#fff;
    font-weight: bold;
    width: 65%;
    margin: 0 auto ;
}

.form p {
    position: relative;
    bottom: -80px;
    font-size: 0.85rem;
    text-align: center;
}

.form p a {
    color: black;
    font-weight: bold;
    position: center;
}

footer {
    width: 100%;
    background: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.8rem;
    color: #8a8d91;
}

footer .languages, footer .links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    text-align: left;
}

footer a {
    color: #8a8d91;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

footer button {
    background: transparent;
    border: 1px solid #8a8d91;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 2px 5px;
    cursor: pointer
}

footer hr {
    width: 80%;
    border: none;
    height: 1px;
    background: #ddd;
    margin: 10px auto;
}

footer p {
    font-size: 0.8rem;
    color: #8a8d91;
    text-align: left;
    margin-left: 20.32%;
}